<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Mego | Administration</title>
    
    <link rel="icon" sizes="600x600" href="/img/logo.png">
    
    <link rel="stylesheet" type="text/css" href="/css/googlefonts.css">
    <link rel="stylesheet" href="/vendor/font-awsome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/simple-line-icons.min.css">
    <link rel="stylesheet" href="/vendor/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/uniform/css/uniform.default.min.css">
    <link rel="stylesheet" href="/vendor/datatables/plugins/bootstrap/dataTables.bootstrap.css">

    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/theme/css/layout.css">
    <link rel="stylesheet" href="/theme/css/darkblue.css">
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo">
    <!-- begin header -->
    <% include ../partials/header %>
    <!-- end header -->

    <div class="clearfix"></div>

    <!-- begin container -->
    <div class="page-container">
        <!-- begine sidebar -->
        <% var activeItem= 'employees'; %>
        <% include ../partials/sidebar %>
        <!-- end sidebar -->

        <!-- begin content -->
        <div class="page-content-wrapper">
            <div class="page-content" style="min-height:900px;">
                <!-- begin page header -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="icon-user"></i>
                            <a href="/admin/employee">Employees</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li><a href="javascript:;">Add New</a></li>
                    </ul>
                </div>
                <!-- end page header -->

                <!-- begin page content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption" style="font-size: 14px; line-height: 20px;">
                                    <i class="icon-user-follow"></i>
                                    <% if (locals.create) { %>
                                    New Employee
                                    <% } else { %>
                                    Update Employee
                                    <% } %>
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <!-- begin form -->
                                <form method="POST" action="<%= form_url %>" id="form_employee" class="form-horizontal" style="margin-bottom: 0px;">
                                    <!-- begin form body -->
                                    <div class="form-body">
                                        <!-- begin error tips -->
                                        <div class="alert alert-danger display-hide">
                                            <button class="close" data-close="alert"></button>
                                        </div>
                                        <!-- end error tips -->

                                        <!-- begin success tips -->
                                        <div class="alert alert-success display-hide">
                                            <button class="close" data-close="alert"></button>
                                        </div>
                                        <!-- end success tips -->

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Employee No <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-4">
                                                <input type="text" name="employee_no" data-required="1" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">First Name <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-4">
                                                <input type="text" name="firstname" data-required="1" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Last Name <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-4">
                                                <input type="text" name="lastname" data-required="1" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">English Name <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-4">
                                                <input type="text" name="engname" data-required="1" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Job Title <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-4">
                                                <input type="text" name="title" data-required="1" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Department <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-4">
                                                <input type="text" name="group" data-required="1" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Gender <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-4">
                                                <select class="form-control" name="gender">
                                                    <option value="1">Male</option>
                                                    <option value="2">Female</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Email <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-4">
                                                <input type="text" name="email" data-required="1" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Avatar <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-4">
                                                <a href="javascript: ;" style="line-height: 36px;" id="img_chooser_a">Choose...</a>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-3"> </div>
                                            <div class="col-md-4">
                                                <img src="/img/no-images.png" alt="avatar" style="width: 140px; height: 140px;" class="img-thumbnail" id="img_display">
                                            </div>
                                        </div>

                                        <input type="file" accept="image/*" name="imgChooser" id="img_chooser" style="display: none;"> 
                                        <input type="hidden" name="avatar" id="avatar_input">
                                    </div>
                                    <!-- end form body -->

                                    <!-- begin form actions -->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn green" id="btn_submit">Submit</button>
                                                <button type="button" class="btn default">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end form actions -->
                                </form>
                                <!-- end form -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page content -->
            </div>
        </div>
        <!-- end content -->

        <!-- begin footer -->
        <% include ../partials/footer %>
        <!-- end footer -->
    </div>
    <!-- end container -->

    <!-- begin javascript -->
    <!-- begin core plugins -->
    <script src="/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="/vendor/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/vendor/boostrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/theme/scripts/metronic.js" type="text/javascript"></script>
    <script src="/theme/scripts/layout.js" type="text/javascript"></script>
    <script src="/scripts/admin/employee_editor.js" type="text/javascript"></script>
    <!-- end core plugins -->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Metronic.init();
            Layout.init();
        });
    </script>
    <!-- end javascript -->
</body>
</html>