<div class="page-header navbar navbar-fixed-top">
    <!-- begin header inner -->
    <div class="page-header-inner">
    <!-- begin logo -->
    <div class="page-logo">
        <h4><a href="/">Mego</a></h4>
    </div>
    <!-- end logo -->
    <!-- begin top navigation menu -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- begin user item -->
            <li class="dropdown dropdown-user">
                <a href="javascript:;" class="dropdown-toggle">
                    <img alt="" class="img-circle" src="/img/avatar.png">
                    <span class="username username-hide-on-mobile"><%= locals.user %> </span>
                </a>
            </li>
            <!-- end user item -->
            <!-- begin logout item -->
            <li class="dropdown dropdown-quick-sidebar-toggler">
                <a href="/admin/logout" class="dropdown-toggle">
                    <i class="icon-logout"></i>
                </a>
            </li>
            <!-- end logout item -->
        </ul>
    </div>
    <!-- end top navigation menu -->
</div>
<!-- end header inner -->
</div>