<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mego 404</title>

    <link rel="icon" sizes="600x600" href="/img/logo.png">
    
    <link rel="stylesheet" type="text/css" href="/css/googlefonts.css">
    <link rel="stylesheet" href="/vendor/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body class="page-404-full-page">
    <div class="row">
        <div class="col-md-12 page-404">
            <div class="number">404</div>
            <div class="details">
                <h3>Oops! You're lost.</h3>
                <p>
                    We can not find the page you're looking for.<br>
                    <a href="#">Return home</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>